@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&family=Russo+One&display=swap');
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Rubik Glitch', cursive;
    margin: 0px;
}

.box {
    /* background-color: #333366; */
    background: rgb(51, 51, 102);
    background: linear-gradient(180deg, rgba(51, 51, 102, 1) 37%, rgba(255, 95, 95, 1) 100%);
    height: 100%;
    width: 100%;
    /* padding: 2px; */
}

nav {
    display: flex;
    width: 100%;
    /* background-color: rgb(0, 53, 100); */
    justify-content: space-between;
    padding: 5px;
    box-sizing: border-box;
    align-items: center;
    /* border-bottom: 2px solid #FF5F5F; */
    /* margin-bottom: 15px; */
}

.nav-start img {
    width: 100px;
    height: 100%;
    /* object-fit: cover; */
}

.nav-end ul {
    display: flex;
    margin: 0px;
    gap: 5px;
    box-sizing: border-box;
}

.nav-end ul li {
    list-style: none;
}

.nav-end ul li a {
    color: #FF5F5F;
    font-size: 17px;
    text-decoration: none;
    display: block;
    position: relative;
    padding: 10px 15px;
    box-sizing: border-box;
}

.nav-end ul li a::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 2px;
    background-color: #FF5F5F;
    transition: all 0.5s ease;
}

.nav-end ul li a::after {
    content: '';
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 0%;
    height: 2px;
    background-color: #FF5F5F;
    transition: all 0.5s ease;
}

.nav-end ul li a:hover::before {
    width: 100%;
}

.nav-end ul li a:hover::after {
    width: 100%;
}

.contentcontainer {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    height: auto;
}

.boxcontext {
    display: flex;
    max-width: 1500px;
    border-radius: 10px;
    height: auto;
    margin: auto;
    padding: 5px;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    flex-wrap: nowrap;
    transform: translateY(0);
    margin-bottom: 15px;
}

.contentstart {
    width: 100%;
    height: 400px;
    /* border: 1px solid #3a9399; */
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    transition: all 1s ease;
    /* transform: translateY(50px); */
    opacity: 0;
}

.opacityshow {
    opacity: 1;
}

.imglast {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
    border-radius: 10px;
}

.imglast:hover {
    transform: scale(1.1);
}

.titelast {
    position: absolute;
    left: 0px;
    background-color: #ff5f5f;
    z-index: 1;
    padding: 10px;
    color: #F9E75E;
    border-bottom-right-radius: 10px;
}

.lastlogo {
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 1;
}

.lastlogo>img {
    display: block;
    margin: auto;
    width: 50%;
    object-fit: cover;
}

.contentend {
    width: 100%;
    height: 400px;
    /* border: 1px solid #3a9399; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: 'Russo One', sans-serif;
}

.erabox {
    width: 100%;
    height: 300px;
    /* padding: 10px; */
    border: 2px solid #FF5F5F;
    background-color: #242453;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    transition: all 0.3s ease;
    user-select: none;
    transform: translateY(50px);
}

.showerabox {
    transform: translateY(0);
}

.erabox:hover {
    box-shadow: 0px 0px 5px 2px #F9E75E;
}

.imgbox {
    width: 150px;
    height: 100%;
    padding: 5px;
    border-right: 2px solid #FF5F5F;
    box-sizing: border-box;
    /* background-color: #F9E75E; */
}

.imgbox>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.eraname {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    color: #F9E75E;
    font-size: 15px;
}

@media only screen and (max-width: 850px) {
    .boxcontext {
        flex-direction: column;
    }
    .eraname {
        font-size: 15px;
    }
    .nav-end ul li a {
        font-size: 15px;
    }
}

@media only screen and (max-width: 380px) {
    .nav-end ul li a {
        font-size: 10px;
    }
    .nav-start img {
        width: 55px;
    }
}

.boxlogo {
    max-width: 1500px;
    height: auto;
    margin: auto;
}

.logotitel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FF5F5F;
}

.nameeraX {
    font-size: 40px;
    color: #F9E75E;
    transition: all 0.4s ease;
    transform: scale(1.2);
}

.nameerashow {
    transform: scale(1);
}

.linex {
    width: 50%;
    height: 2px;
    background-color: #F0F0F0;
}

.logocontainer {
    max-width: 1500px;
    height: 100px;
    padding: 5px;
    overflow: hidden;
}

.boxlogoimg {
    display: flex;
    gap: 10px;
    box-sizing: border-box;
    height: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.heisebox {
    scroll-behavior: smooth;
}

.boxlogoimg::-webkit-scrollbar {
    display: none;
}

.boximgtitle {
    min-width: 200px;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.boxtimg {
    width: 80px;
    height: 90px;
    background-color: #333366;
    border-radius: 50%;
    padding: 5px;
    box-sizing: border-box;
    border: 3px solid #F9E75E;
    overflow: hidden;
    /* box-shadow: #F9E75E 0px 0px 5px 1px; */
}

.boxtimg>img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    box-sizing: border-box;
}

.boximgtitle>span {
    font-size: 12px;
    text-align: center;
    color: #F9E75E;
}

.popup {
    position: fixed;
    background-color: #33664856;
    width: 100%;
    height: 100vh;
    z-index: 2;
}

.boxfirstrider {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: auto;
    max-width: 1200px;
    gap: 10px;
    padding: 1px;
    /* border: 1px solid #FF5F5F; */
    margin: auto;
    /* place-items: center; */
    box-sizing: border-box;
}

.cardrider {
    width: 100%;
    height: auto;
    /* border: 1px solid #FF5F5F; */
    overflow: hidden;
    box-sizing: border-box;
}

.imgkamenf {
    box-sizing: border-box;
    margin-bottom: 10px;
    /* border: 1px solid #F9E75E; */
    /* height: 100%; */
}

.imgfirstX {
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
    transition: all 3s ease;
}

.imgfirstXshow {
    transform: rotate(0deg);
}

.card-title {
    border: 2px solid #333366;
    padding: 5px;
    color: #333366;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    font-size: 19px;
    position: relative;
    width: 0px;
    overflow: hidden;
    opacity: 0;
    transition: all 0.2s ease;
    /* height: 36px; */
}

.boxheadf {
    max-width: 1500px;
    margin: auto;
    font-size: 70px;
    color: #F9E75E;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-bottom: 15px;
}

.bocfera {
    text-shadow: #FF5F5F -5px 0 3px, #333366 5px 0 3px;
    margin: 0px;
    transform: scale(1.2);
    transition: all 1s;
}

.boxheadfshow {
    transform: scale(1);
}

.boxheadf::before {
    content: '';
    position: absolute;
    width: 0;
    height: 5px;
    bottom: 0;
    left: 0;
    transition: all 0.5s ease;
    background-color: #F9E75E;
}

.boxheadf:hover::before {
    width: 100%;
}