@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://v1.fontapi.ir/css/SFMono:500');
html {
    scroll-behavior: smooth;
    font-family: 'Fredoka One', cursive;
}

body {
    margin: 0px;
    padding: 0px;
}

.box1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxstart {
    box-sizing: border-box;
    width: 800px;
    height: auto;
    overflow: hidden;
    padding: 10px;
}

.startx {
    /* margin: 5px; */
    width: 100%;
    height: auto;
    transform: scale(2);
    border-radius: 10px;
    /* transform: translateY(-100px); */
    transition: opacity 0.7s, transform 0.7s;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.startx.visible {
    opacity: 1;
    transform: scale(1);
}

.startx>p:first-child {
    text-align: center;
    color: white;
    font-size: 4.5em;
    font-weight: bold;
    margin: 10px;
    animation: sha 2s linear infinite;
}

@keyframes sha {
    from {
        text-shadow: #E90064 0px 0 3px, #FF5F9E 0px 0 2px;
    }
    to {
        text-shadow: #E90064 -5px 0 3px, #FF5F9E 5px 0 3px;
    }
}

.startx>p:nth-child(2) {
    margin: 0px;
    text-align: center;
}

.startx>p:nth-child(2)>a {
    text-decoration: none;
    display: block;
    width: 60%;
    border: 2px solid #B3005E;
    color: #ffffff;
    margin: auto;
    font-size: 20px;
    padding: 20px;
    border-radius: 30px;
    box-sizing: border-box;
    box-shadow: #E90064 0px 5px 8px 0px;
}

.startx>p:nth-child(2)>a:hover {
    box-shadow: #E90064 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
}

.startx>span {
    text-align: center;
}

.boxc {
    /* background-color: #060047; */
    background: rgb(6, 0, 71);
    background: linear-gradient(to bottom, rgba(6, 0, 71, 1) 33%, rgba(179, 0, 94, 1) 100%);
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.navx {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    right: 0px;
    align-items: center;
}

.ulx {
    padding: 0px;
    margin: 10px;
}

.ulx>li {
    list-style: none;
    display: inline;
    color: #ffffff;
    font-size: 20px;
    margin: 6px;
}

.naxlrft>a>img {
    width: 90px;
    height: 100%;
    object-fit: cover;
}

.naxright {
    display: flex;
    gap: 10px;
}

.btnlog {
    display: block;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px 20px;
    border: 2px solid #B3005E;
    color: #B3005E;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
}

.btnlog::before {
    content: '';
    position: absolute;
    width: 0;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: 0.4s;
    height: 300%;
    z-index: -1;
}

.btnlog:hover::before {
    width: 105%;
}

.box {
    display: block;
    height: auto;
    box-sizing: border-box;
    background: rgb(179, 0, 94);
    background: linear-gradient(180deg, rgba(179, 0, 94, 1) 50%, rgba(233, 0, 100, 1) 100%);
}

.gridcon {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
}

.gridcon>img {
    width: 100%;
    object-fit: cover;
}

.codebox {
    max-width: 800px;
    margin: auto;
    padding: 5px;
}

pre {
    margin: 0px;
}

.codehead {
    padding: 10px;
    color: #ff79c6;
    background-color: #060047;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.copycode {
    float: right;
    cursor: pointer;
}

.fontcode {
    font-size: 15px;
    font-family: SF Mono, sans-serif;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    max-width: 800px;
    margin: auto;
    font-family: Arial, sans-serif;
    background-color: #282a36;
    color: #ff79c6;
    display: block;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-header {
    background-color: #060047;
    color: #ff79c6;
    padding: 20px;
    display: flex;
    align-items: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.card-header img {
    width: 50px;
    margin-right: 10px;
}

.card-header h3 {
    margin: 0;
}

.card-body {
    padding: 20px;
    display: block;
    box-sizing: border-box;
    overflow-x: auto;
}

.card-body::-webkit-scrollbar-thumb {
    background: #FF5F9E;
}

.card-body::-webkit-scrollbar {
    height: 8px;
    /* background-color: transparent; */
}

.card-body>p {}

#createtoken {
    font-family: 'Fredoka One', cursive;
    display: block;
    margin: auto;
    background-color: transparent;
    padding: 20px 40px;
    box-sizing: border-box;
    width: 50%;
    cursor: pointer;
    font-size: 20px;
    border-radius: 20px;
    border: 2px solid #ff79c6;
    color: #ff79c6;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

#createtoken::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 500%;
    transform: translate(-50%, -50%) rotate(-45deg);
    background-color: #ff79c6;
    z-index: -1;
    transition: all 0.5s ease;
}

#createtoken:hover::before {
    width: 105%;
}

.boxbodyXD {
    max-width: 800px;
    margin: auto;
}

.topictxt {
    padding: 10px;
    width: auto;
    background: #060047;
    color: #ff79c6;
    display: inline-block;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.hljs::-webkit-scrollbar-thumb {
    background: #FF5F9E;
}

.hljs::-webkit-scrollbar {
    height: 8px;
    /* background-color: transparent; */
}